body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/* ------------ Header CSS ------------ */
#header
{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../fotos/img2.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.user-box
{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.user-box img 
{
    border-radius: 50%;
    width: 280px;
    height: 280px;
    border: 2px solid #053d52;
}
.user-box h1 {
    color: #fff;
    font-weight: bold;
    margin: 10px;
}
.user-box p {
    color: #fff;
}
.scroll-btn 
{
    bottom: 30px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border: 2px solid #fff;
    padding: 10px 10px 20px;
    border-radius: 30px;
}
.scroll-bar span
{
    border: 2px solid #fff;
    font-size: 10px;
    border-radius: 30px;
}
.scroll bar 
{
    animation: mover 1s infinite alternate;
}

/* ------------ SOBRE MIM ------------ */

.sobre
{
    padding-top: 100px;
    padding-bottom: 200px;
    margin-bottom: -130px;
}
.profile-img 
{
    height: 260px;
    border-style: solid;
    border:3px solid black;
}
.navbar-brand
{
    color: #fff;
}
.navbar-brand:hover
{
    color: #fff;
}
.nav-bar
{
    top: 0;
    position: sticky;
    z-index: 2;
}
.navbar
{
    background-color: #000;
}
.nav-bar .fa-bars
{
    font-size:35px;
    color: #fff;
}
.navbar-toggler
{
    outline: none !important;
}
.navbar-nav
{
    float: right;
    text-align: right;
}
.nav-link
{
    color: #fff !important;
}

/* ------------ CONTATO ------------ */

.contact
{
    padding-top: 50px;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../fotos/img1.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}
.contact .row
{
    padding: 30px 0;
    font-size: 22px;
}
.contact .col-md-4 .fa
{
    padding: 10px;
    font-size: 40px;
}
.contact .col-md-4 .fab
{
    padding: 10px;
    font-size: 40px;
}
.contact .btn
{
    padding: 10px 25px 10px 25px;
    margin: 5px;
    border-radius: 30px;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
}
.contact .btn a
{
    color: #fff;
}
.contact .btn:focus
{
    box-shadow: none !important;
}
.contact .btn a:focus
{
    box-shadow: none !important;
}
.contact .btn:hover
{
    border: 2px solid #000 !important;
    background: #fff !important;
    transition: 0.6s;
}
.contact .btn a:hover
{
    color: #000;
    transition: 0.6s;
}
.contact .btn .fa
{
    margin-right: 10px;
}
.footer
{
    background: #000;
    height: 50px;
    margin-top: 50px;
    color: #fff;
    padding-top: 10px;
}
.fa-heart-o
{
    color: skyblue;
}
